<template>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 col-xg-12">
      <input v-model="color"><br>
      <square class="float-left" name="1" color="red"></square>
      <square class="float-left" name="2" color="green"></square>
      <square class="float-left" name="3" color="blue"></square>
      <square class="float-left" name="4" color="yellow"></square>
      <square class="float-left" name="5" :color="color"></square>
    </div>
    <div v-highlight class="text-left col-lg-12">
      <pre>
        <code class="html" v-pre>
&lt;template&gt;
  &lt;div class="square" :style="{'background-color': color}"&gt;
    {{ name }}
  &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
export default {
  name: 'square',
  props: ['name', 'color']
}
&lt;/script&gt;

&lt;style scoped&gt;
  .square{
    width: 100px;
    height: 100px;
    border: 1px solid lightgray;
    margin: 10px;
  }
&lt;/style&gt;

        </code>
      </pre>
    </div>
    <div v-highlight class="text-left col-lg-12">
      <pre>
        <code class="html" v-pre>
&lt;input v-model="color"&gt;&lt;br&gt;
&lt;square class="float-left" name="1" color="red"&gt;&lt;/square&gt;
&lt;square class="float-left" name="2" color="green"&gt;&lt;/square&gt;
&lt;square class="float-left" name="3" color="blue"&gt;&lt;/square&gt;
&lt;square class="float-left" name="4" color="yellow"&gt;&lt;/square&gt;
&lt;square class="float-left" name="5" :color="color"&gt;&lt;/square&gt;
        </code>
      </pre>
    </div>
    <div v-highlight class="text-left col-lg-12">
      <pre>
        <code class="javascript">
import Square from './square'
export default {
  name: 'Components',
  data () {
    return {
      color: 'pink'
    }
  },
  components: {
    Square
  }
}
        </code>
      </pre>
    </div>
  </div>
</template>

<script>
import Square from './square'
export default {
  name: 'Components',
  data () {
    return {
      color: 'pink'
    }
  },
  components: {
    Square
  }
}
</script>

<style scoped>

</style>
