<template>
  <div>
    <h1>Computed</h1>
    <div class="row">
      <div class="col-lg-12">
        <input v-model="first"><br>
        <input v-model="second"><br>
        {{ total }}
      </div>
      <div v-highlight class="text-left col-lg-12">
      <pre>
        <code class="html" v-pre>
&lt;input v-model="first"&gt;&lt;br&gt;
&lt;input v-model="second"&gt;&lt;br&gt;
{{ total }}
        </code>
      </pre>
      </div>
      <div v-highlight class="text-left col-lg-12">
      <pre>
        <code class="javascript">
var app = new Vue({
  el: '#app',
  data: {
    first: 0,
    second: 0
  },
  computed: {
    total: function () {
      return this.first * this.second
    }
  }
})
        </code>
      </pre>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Computed',
  data () {
    return {
      first: 0,
      second: 0
    }
  },
  computed: {
    total () {
      return this.first * this.second
    }
  }
}
</script>

<style scoped>

</style>
