<template>
  <div>
    <h1>Condicionais e listas</h1>
    <div class="row">
      <div class="col-lg-12">
        <input type="checkbox" v-model="activate"> Ativar<br>
        <div v-if="activate">
          <ul id="pessoas" class="text-left">
            <li v-for="pessoa in pessoas" :key="pessoa">
              {{ pessoa }}
            </li>
          </ul>
        </div>
        <div v-else>Não existem pessoas</div>
      </div>
      <div v-highlight class="text-left col-lg-12">
      <pre>
        <code class="html" v-pre>
&lt;input type="checkbox" v-model="activate"&gt; Ativar&lt;br&gt;
&lt;div v-if="activate"&gt;
  &lt;ul id="pessoas" class="text-left"&gt;
    &lt;li v-for="pessoa in pessoas" :key="pessoa"&gt;
      {{ pessoa }}
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
&lt;div v-else&gt;Não existem pessoas&lt;/div&gt;
        </code>
      </pre>
      </div>
      <div v-highlight class="text-left col-lg-12">
      <pre>
        <code class="javascript">
var app = new Vue({
  el: '#app',
  data: {
    activate: true,
    pessoas: ['Leandro', 'Bruno', 'Bruna', 'Carol',
              'Machado', 'Júlia', 'Talisson']
  }
})
        </code>
      </pre>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Conditionals',
  data () {
    return {
      activate: true,
      pessoas: ['Leandro', 'Bruno', 'Bruna', 'Carol', 'Machado', 'Júlia', 'Talisson']
    }
  }
}
</script>

<style scoped>

</style>
