<template>
  <div>
    <h1>DOM</h1>
    <div class="row">
      <div class="col-lg-12">
          <input v-model="message"><br>
          {{ message }}
      </div>
      <div v-highlight class="text-left col-lg-12">
      <pre>
        <code class="html" v-pre>
&lt;input v-model="message"&gt;&lt;br&gt;
{{ message }}
        </code>
      </pre>
      </div>
      <div v-highlight class="text-left col-lg-12">
      <pre>
        <code class="javascript">
var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!'
  }
})
        </code>
      </pre>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Dom',
  data () {
    return {
      message: 'Hello Vue!'
    }
  }
}
</script>

<style scoped>

</style>
