<template>
  <div>
    <h1>Filters</h1>
    <div class="row">
      <div class="col-lg-12">
        <input v-model="message"><br>
        {{ message | doidoDemais }}
      </div>
      <div v-highlight class="text-left col-lg-12">
      <pre>
        <code class="html" v-pre>
&lt;input v-model="message"&gt;&lt;br&gt;
{{ message | doidoDemais }}
        </code>
      </pre>
      </div>
      <div v-highlight class="text-left col-lg-12">
      <pre>
        <code class="javascript">
var app = new Vue({
  el: '#app',
  data: {
    message: ''
  },
  filters: {
    doidoDemais: function (message) {
      return message + ' é doido demais'
    }
  }
})
        </code>
      </pre>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Filters',
  data () {
    return {
      message: ''
    }
  },
  filters: {
    doidoDemais: function (message) {
      return message + ' é doido demais'
    }
  }
}
</script>

<style scoped>

</style>
