<template>
  <div>
    <div>
      <h1>Apresentação Vue JS</h1>
      <div class="row">
        <div v-highlight class="text-left col-lg-12">
      <pre>
        <code class="javascript">
var app = new Vue({
  el: '#app',
  data: {
    presentation: 'Apresentação Vue JS',
    name: 'Rubico'
  }
})
        </code>
      </pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
