<template>
  <div>
    <h1>Instance</h1>
    <div class="row">
      <div v-highlight class="text-left col-lg-12">
      <pre>
        <code class="javascript">
var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!'
  },
  methods:{ ... },
  components:{ ... },
  computed:{ ... },
  filters: { ... }
})
        </code>
      </pre>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Instance'
}
</script>

<style scoped>
  code{
    padding-left: 20px
  }
</style>
