<template>
  <div class="square" :style="{'background-color': color}">
    {{ name }}
  </div>
</template>

<script>
export default {
  name: 'square',
  props: ['name', 'color']
}
</script>

<style scoped>
  .square{
    width: 100px;
    height: 100px;
    border: 1px solid lightgray;
    margin: 10px;
  }
</style>
