<template>
  <div>
    <h1>Vue File</h1>
    <div class="row">
      <div v-highlight class="text-left col-lg-12">
      <pre>
        <code class="html">
&lt;template&gt;
  &lt;div&gt;
    &lt;h1&gt;Vue File&lt;/h1&gt;
    &lt;div class="row"&gt;
      &lt;div v-highlight class="text-left col-lg-12"&gt;
      &lt;pre&gt;
        &lt;code class="html"&gt;
        &lt;/code&gt;
      &lt;/pre&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
export default {
  name: 'VueFile'
}
&lt;/script&gt;

&lt;style scoped&gt;

&lt;/style&gt;
        </code>
      </pre>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VueFile'
}
</script>

<style scoped>

</style>
