<template>
  <div id="app">
    <router-link to="/"><img src="./assets/logo.png"></router-link>
    <ul class="nav nav-tabs justify-content-center">
      <router-link to="/" tag="li" active-class="active" class="nav-item nav-link" exact>
        <a>Home</a>
      </router-link>
      <router-link to="/instance" tag="li" active-class="active" class="nav-item nav-link">
        <a>Instance</a>
      </router-link>
      <router-link to="/dom" tag="li" active-class="active" class="nav-item nav-link">
        <a>DOM</a>
      </router-link>
      <router-link to="/conditionals" tag="li" active-class="active" class="nav-item nav-link">
        <a>Condicionais e listas</a>
      </router-link>
      <router-link to="/filters" tag="li" active-class="active" class="nav-item nav-link">
        <a>Filters</a>
      </router-link>
      <router-link to="/computed" tag="li" active-class="active" class="nav-item nav-link">
        <a>Computed</a>
      </router-link>
      <router-link to="/vuefile" tag="li" active-class="active" class="nav-item nav-link">
        <a>Vue File</a>
      </router-link>
      <router-link to="/components" tag="li" active-class="active" class="nav-item nav-link">
        <a>Components</a>
      </router-link>
    </ul>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-md-12 col-lg-6 col-xg-6">
          <router-view/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
}

.container-fluid{
  padding: 20px
}

code{
  padding-left: 20px;
}
</style>
